{
    "clientId":"",
    "token":"",
    "frogsDir":"d:\\frogbot\\frogs\\",
    "spideyDir":"d:\\frogbot\\spideys\\",
    "jonesDir":"d:\\frogbot\\alexjones\\",
    "guildSettingsDir":"d:\\frogbot\\guildSettings\\",    
    "pepo":true,
    "spidey":true,
    "jones":false,
    "activity":"for frogs",
    "botOwnerID": "90685378914193408",
    "testGuildId": "281540649348759553"
}
